{% extends "baseadmin.html.twig" %}

{% block body %}
    <h2 class="mt-3">Ajouter une formation</h2>

    {{ form_start(formformation) }}
        {{ form_widget(formformation) }}
    {{ form_end(formformation) }}

    <a href="{{ path('admin.formations') }}">Retour</a>
{% endblock %}
